= simple_form_for @topic, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = error_span(@topic[:title])
  = f.input :text_field, as: :ckeditor
  = error_span(@topic[:text_field])
  = f.button :submit, :class => 'btn-primary'
