.row
  .col-md-offset-5
    = will_paginate @topics, renderer: BootstrapPagination::Rails
  - @topics.each do |topic|
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-primary
          .panel-heading
            .panel-title
              .text-left
                %span.badge.badge-primary
                  #{topic.cached_weighted_score}
                #{topic.title}
          .panel-body
            .row
              .col-md-2
                = link_to image_tag(topic.user.avatar.url(:thumb), 
                     :title => topic.user.full_name,            
                     :alt => topic.user.full_name,
                     :class => 'img-rounded'),             
            user_profile_path(topic.user.id)
              .col-md-10
                .well
                  = topic.text_field.html_safe
                  .text-right
                    %h5
                      #{'-'} proposed by #{link_to topic.user.name, user_profile_path(topic.user)} on #{topic.created_at.strftime("%m/%d/%Y")}
                .btn-group.btn-group-lg{:role => 'group'}
                  = link_to upvote_path(topic.id), class: 'btn btn-success', role: 'button' do
                    %i.glyphicon.glyphicon-chevron-up{style: 'color:white'}
                  = link_to downvote_path(topic.id), class: 'btn btn-danger', role: 'button' do
                    %i.glyphicon.glyphicon-chevron-down{style: 'color:white'}
                .btn-group.btn-group{:role => 'group'}
                  = link_to show_forum_path(topic.forum), class: 'btn btn-info', role: 'button' do
                    Forum
                  %button.btn.btn-warning{type: 'button'} Report
                  - if current_user == topic.user
                    %button.btn.btn-danger{type: 'button'} Request Deletion
            / .row
            /   .col-md-9
            /     .row
            /       .col-md-3
            /         .row
            /           .container
            /             %h4  
            /               = link_to upvote_path(topic.id) do
            /                 %i.glyphicon.glyphicon-chevron-up
            /         .row
            /           .container
            /             %span.badge.badge-primary
            /               %h5
            /                 #{topic.cached_weighted_score}
            /         .row
            /           .container
            /             %h4
            /               = link_to downvote_path(topic.id) do
            /                 %i.glyphicon.glyphicon-chevron-down
#vote.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#modalTitle.modal-title Vote on 
      .modal-body
        .btn-group.btn-group-lg{:role => 'group'}
          = simple_form_for :upvote, url: modal_upvote_path, method: :post do |f|
            = f.hidden_field :id, id: 'upId', value: 0
            = f.button :submit, class: 'btn btn-success'
          = simple_form_for :downvote, url: modal_downvote_path, method: :post do |f|
            = f.hidden_field :id, id: 'downId', value: 0
            = f.button :submit, class: 'btn btn-success'

