.row
  .col-md-12
    %h2
      = @thread.forum.name
    .panel.panel-primary
      .panel-heading
        %h1.panel-title
          = @thread.name
      .panel-body
        .row
          .col-md-6
            = link_to 'New Post', new_post_path(forum_topic_id: @thread.id, forum_id: @thread.forum.id), class: 'btn btn-lg btn-primary'            
          .col-md-6
            .text-right
              = will_paginate @posts, renderer: BootstrapPagination::Rails
          .col-md-12
            %hr
        %table.table.table-striped.table-bordered
          - @posts.each do |post|
            %tr
              %td
                .row
                  .col-md-12
                    .text-center
                      %h5
                        = link_to post.user.name, user_profile_path(post.user.id)
                .row
                  .col-md-12
                    .text-center
                      = link_to image_tag(post.user.avatar.url(:thumb), 
                     :title => post.user.full_name,            
                     :alt => post.user.full_name,
                     :class => 'img-rounded'),             
            user_profile_path(post.user.id)
                    %hr
                .row
                  .col-md-12
                    %b Posted
                    = time_ago_in_words(post.created_at)
                    ago
                .row
                  .col-md-12
                    %b Joined
                    = time_ago_in_words(post.user.created_at)
                    ago
              %td{style: 'width:800px'}
                .row
                  .col-md-12
                    = post.text.html_safe
                    %hr
              %td
                .row
                  .col-md-12
                    .text-center
                      .btn-group-vertical{role: 'group'}
                        %button.btn.btn-default{type: 'button'} Quote
                        %button.btn.btn-default{type: 'button'} Report
                        %button.btn.btn-default{type: 'button'} Message
                        %button.btn.btn-default{type: 'button'} User Profile
        .row
          .col-md-6
            = link_to 'New Post', new_post_path(forum_topic_id: @thread.id, forum_id: @thread.forum.id), class: 'btn btn-lg btn-primary'
          .col-md-6
            .text-right
              = will_paginate @posts, renderer: BootstrapPagination::Rails







