.container
  .navbar-header
    %button.navbar-toggle{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .navbar-collapse.collapse
    %ul.nav.navbar-nav.navbar-left
      %li
        = link_to root_path, html_options = {:class =>'navbar-brand'} do
          %i.fa.fa-users.fa-2x
          %b{id: 'ucf-logo'} UCF

      -if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fa.fa-plus.fa-2x
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'New Topic', new_topic_path
            - if @forum_list
              %li
                = link_to 'New Thread', new_forum_topic_path(forum_id: @forum.id)
            - if @thread_response
              %li
                = link_to 'New Thread', new_forum_topic_path(forum_id: @forum.id)
              %li
                = link_to 'New Post', new_post_path(forum_topic_id: @thread.id)
        %li
          = link_to list_forums_path do
            %i.fa.fa-university.fa-2x
        - if current_user.admin
          %li= link_to 'Manage Users', manage_users_path
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group
            %input.form-control{:placeholder => "Search (coming soon)", :type => "text"}
          %button.btn.btn-default{:type => "submit"} Go
        %li
          = link_to conversations_path(page: 1, box: 'index') do
            %i.fa.fa-envelope.fa-2x
            - if current_user.unread_inbox_count != 0
              %span.badge.badge-primary= current_user.unread_inbox_count
        %li
          = link_to user_profile_path(current_user.id) do
            %i.fa.fa-user.fa-2x
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i.fa.fa-sign-out.fa-2x
      -else
        %li
          = link_to new_user_registration_path do
            %i.fa.fa-user-plus.fa-2x
        %li
          = link_to new_user_session_path do
            %i.fa.fa-sign-in.fa-2x
