!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title (crowd)UCF
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    - if @home_jumbotron
      .jumbotron.home-jumbotron
        .hompage-image{id: 'bg' }
          = image_tag("UCF.jpg", id: 'homepage-image', alt: '')
        .container
          .row
            .col-md-8
              %h1{style: 'color:white;text-shadow: black 0.3em 0.3em 0.3em;'} The UCF Crowd
              %hr
              .panel.panel-primary
                .container
                  %p{id: 'home-text'} Our goal is to allow students at UCF to feel connected and empowered by their student government. That's why we made this website: a place where the UCF student body can propose ideas for SGA, vote on others' ideas, and discuss them in forums. The goal is to use this platform to launch a campaign for the SGA presidency and have every decision along the way be made by YOU, the students. We can only do this with your help, so sign up today!
            .col-md-4
              .well
                %h2 Sign up
                = simple_form_for(@user, url: user_registration_path, method: :post, :html => {:class => 'form-horizontal' }) do |f|
                  .panel.panel-primary
                    .panel-body
                      .container
                        = f.input :email, placeholder: 'must have @knights.ucf.edu'
                        = f.input :first_name
                        = f.input :last_name
                        = f.input :avatar, label: 'Profile pic'
                        = f.input :password
                        = f.input :password_confirmation
                  = f.button :submit, 'Send Confirmation Email', class: 'btn btn-primary btn-lg'

    .container
      - if @thread_response or @forum_list or @forums_list
        .page-header
          .text-center
            %h1{style: 'color:black'}
              = link_to list_forums_path do
                %small (forums)
                UCF
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield
    /= render 'layouts/footer'
