!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title (crowd)UCF
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{id: 'page-top'}
    %header.navbar
      - if @home_jumbotron
        %nav.navbar.navbar-default{id: 'custom-bootstrap-menu'}
          = render 'layouts/navigation'
      - else
        %nav.navbar.navbar-default.navbar-fixed-top{id: 'custom-bootstrap-menu'}
          = render 'layouts/navigation'
    - if @home_jumbotron
      .jumbotron.home-jumbotron
        .container
          .row
            .col-md-8
              %h1
                %b{style: 'color:black;text-shadow: white 0.3em 0.3em 0.3em'} Take control of SGA.
              %h4{id: 'home-text'}
                %b Student government should be run by the students. The UCF Crowd aims to empower and give voice to every student at UCF by governing the SGA through a democratic process.
                %br
                %br
                %button.btn.btn-primary.btn-lg Learn more
            .col-md-4
              %h2
                %b Sign up
              %br
              = simple_form_for(@user, url: user_registration_path, method: :post, :html => {:class => 'form-horizontal' }) do |f|
                .container
                  = f.input :email, label: false, placeholder: 'Email (must have @knights.ucf.edu)'
                  = f.input :first_name, label: false, placeholder: 'First name'
                  = f.input :last_name, label: false, placeholder: 'Last name'
                  = f.input :password, label: false, placeholder: 'Password'
                  = f.input :password_confirmation, label: false, placeholder: 'Password confirmation'
                  %br
                  = f.button :submit, 'Send Confirmation Email', class: 'btn btn-primary btn-lg'
      .home-jumbotron2
        .container
          .row{style: 'margin-top:35px;'}
            .col-md-12
              %h1
                %b{style: 'color:white;text-shadow: black 0.3em 0.3em 0.3em;'} Empowering UCF students.
          .row
            .col-md-8
              %p
                %h3{id: 'home-text2', style: 'color:white'}
                  By offering students a voice and a vote for every decision made by the SGA presidency, we at the Crowd aim to give the power to you, the students of UCF.
                  Here's how it works:
                  any student with a knights.ucf.edu email can sign up and create an account. After verifying their email, students are able
                  to post ideas, vote on others' ideas and join in on the discussion through each post's corresponding forum. Student propositions that become sufficiently
                  popular and attain a net positive score will be implemented by our trustee in the SGA presidency.
                  The only way we can make this a reality is with the overwhelming support of the student body. First we need to win the presidency, so sign up and start having a voice
                  in the campaign!
          .row{style: 'margin-top:25px;margin-left:20px;'}
            .col-md-4
              %button.btn.btn-default.btn-lg
                %b Try it out
      .container{style: 'height:745px;'}
        .row
          .col-md-12
            .text-center
              %h1{style: 'margin-top:35px'}
                %b Try it out!
        .row
          .col-md-12
            %h3{style: 'line-height:40px;'}
              %b This is an example of the interface that students will be able to access through the crowd. Try voting this idea up or down and participating in the forum!
        .row
          .col-md-12
            = render 'guest_topic'
        %hr{style: 'color:black'}
    - if @thread_response or @forum_list or @forums_list
      .jumbotron.jumbotron-trans
        .row
          .col-md-12
            %h1
              .text-center
                %b
                  %i.fa.fa-university.fa-2x
    .container
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield
    /= render 'layouts/footer'
