!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title (crowd)UCF
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    .container
      .row
        .col-md-12
          - if @thread_response or @forum_list or @forums_list
            .page-header
              .text-center
                %h1{style: 'color:black'}
                  = link_to list_forums_path do
                    %small (forums)
                    UCF
          - if notice
            %p.alert.alert-success= notice
          - if alert
            %p.alert.alert-danger= alert
          = yield
    /= render 'layouts/footer'
